header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div{
    
    display: flex;
    \\align-items: center;
    \\justify-content: center;
}

body{
    background-color: #f7ac12;
}

.imgColorLogo{
    height: 100%;
    width: 100%;
}

.divColorLogo{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-right: -300px;
}

.imgLogoText{
    height: 100%;
    width: 100%;
}


.divLogoText{
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top:135px;
}

.infinite-logo {
    height: 25em;
    display: flex;
    overflow: hidden;
    margin: 0px;
    \\justify-content: center;
}


.infinite-logo ul li {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    padding-right: -500px;
    
    
}


.infinite-logo ul {
    animation: infiniteLogo 8s ease 1;
}


@keyframes infiniteLogo {
    from {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, -24.5em);
    }
    30% {
        transform: translate(0, -24.5em);
    }
    40% {
        transform: translate(0, -24.5em);
    }
    50% {
        transform: translate(0, -49em);
    }
    60% {
        transform: translate(0, -49em);
    }
    70% {
        transform: translate(0, -73.3em);
    }
    80% {
        transform: translate(0, -73.3em);
    }
    90% {
        transform: translate(0, -73.3em);
    }
    to {
        transform: translate(0, -98em);
    }
}  






.botoes {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 2;
}

.botoes .menu {
    background-color: #7bac3f;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 50px;
    line-height: 60px;
    text-align: center;
    width: 50px;
}

.nav-itens {
    position: absolute;
    top: -210px;
    right: 6px;
    opacity: 0;
   	transition: all 0.3s;
}

.nav-itens a {
    display: block;
    margin: 10px 0;
    color: #fff;
    background-color: #7bac3f;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 50px;
}

.nav-show{
    opacity: 1;
}

main {
	padding-top: 120px; 
}

.text_tooltip {
    background-color: rgb(90, 88, 88);
    width: 120px;
    text-decoration: none;
    padding: 0px 5px;
    position: absolute;
    right: 60px;
    height: 25px;
    margin-top: 15px;
    opacity: 0;
    transition: all .2s;
}

.text_tooltip:after {
	content: "";
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(90, 88, 88);
    position: absolute;
    right: -10px;
    top: 0px;
}
